<h1><%=@client.name %></h1>
<h1><%=@client.hair_color %></h1>
<h1><%=@client.eye_color %></h1>
<h1><%=@client.gender %></h1>
<h1><%=@client.age %></h1>
<h1><%=@client.alive%></h1>
<%=link_to'Back', clients_path %>
